form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

#name {
  color: lightgray;
   flex: 2 1 12rem;
}

#date {
  flex: 1 1 10rem;
}

#quantity {
  flex: 0 1 6rem;
}

form button {
  width: 100%;
}