# Frontend

## Dependencies
node_modules/

## Build output
dist/

# Yarn
install-state.gz

# Env file
.env*

# Backend

## SQLite
*.db-shm
*.db-wal
*.db

## Build output
bin/
obj/

# GitHub releases
RELEASE*.md