:root {
  --text: black;
  --text-h: #08060d;
  --text-li: black;

  --bg: #fff;
  --border: #e5e4e7;

  --accent: orange;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% system-ui, sans-serif;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  --text: white;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 16px;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  max-width: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 24px;
  box-shadow: var(--shadow);
}