* {
  box-sizing: border-box;
}

:root {
  --text: black;
  --text-h: #08060d;
  --text-li: black;
  --text-muted: #5f6368;

  --bg: #fff;
  --border: black;

  --accent: orange;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% system-ui, sans-serif;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  --text: white;
  --text-h: #f3f4f6;
  --text-muted: #c1c7d0;
  --bg: #16171d;
  --border: #d1d5db;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  min-height: 100svh;
  padding: 16px;
}

.app-container {
  width: 100%;
  max-width: 720px;

  margin-inline: auto;

  display: flex;
  flex-direction: column;

  background: var(--bg);
  padding: clamp(16px, 4vw, 24px);
  box-shadow: var(--shadow);
}